[submodule "vendor/swiper"]
	path = vendor/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "vendor/snails"]
	path = vendor/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "aweshell"]
	path = aweshell
	url = https://github.com/manateelazycat/aweshell
[submodule "vendor/company-inf-ruby"]
	path = vendor/company-inf-ruby
	url = https://github.com/company-mode/company-inf-ruby
[submodule "vendor/inf-ruby"]
	path = vendor/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "vendor/ob-restclient"]
	path = vendor/ob-restclient
	url = git@github.com:alf/ob-restclient.el.git
[submodule "vendor/restclient"]
	path = vendor/restclient
	url = git@github.com:pashky/restclient.el.git
